<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>打光2_XR.255</string>
	<key>CFBundleIdentifier</key>
	<string>com.luxion.widget.XR</string>
	<key>CFBundleName</key>
	<string>XR</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>MainHTML</key>
	<string>打光2_XR.255.html</string>
	<key>Height</key>
	<integer>600</integer>
	<key>Width</key>
	<integer>801</integer>
</dict>
</plist>
